[run]
source = '.'
omit =
    *celery.py*
    *tests*
    *apps.py
    *manage.py
    *__init__.py
    *migrations*
    *asgi*
    *wsgi*
    *admin.py
    *urls.py
    */settings/*
    *createadmin.py*

[report]
omit =
    *celery.py*
    *tests*
    *apps.py
    *manage.py
    *__init__.py
    *migrations*
    *asgi*
    *wsgi*
    *admin.py
    *urls.py
    */settings/*
    *createadmin.py*


fail_under = 80
show_missing = True
skip_covered = True